html,body {
  height: 100%;
  display: block;
  margin: 0;
}

video {
  max-width: 100%;
  width: 320px;
}

div {
  position: relative;
}

#main {
  margin: auto;
  width: 800px;
  height: 80%;
  padding-top: 50px;
}

.darkred {
  color:darkred;
}

ul#flist {
  font-family: monospace;
  font-size: x-large;
}

li.dir {
  color: blue;
}

li.file {
  color: green;
}

ul#flist > li:hover {
  text-decoration: underline;
  cursor: pointer;
}
